<div id="<%= dom_id term %>">
  <p>
    <strong>Name jp:</strong>
    <%= term.name_jp %>
  </p>

  <p>
    <strong>Name romanji:</strong>
    <%= term.name_romanji %>
  </p>

  <p>
    <strong>Name en:</strong>
    <%= term.name_en %>
  </p>

  <p>
    <strong>Definition:</strong>
    <%= term.definition %>
  </p>

  <p>
    <strong>Usages:</strong>
    <%= term.usages %>
  </p>

</div>
