<div id="<%= dom_id term %>">
  <p>
    <h2 id="name_jp">
    <%= term.name_jp %>
    </h2>
  </p>

  <p>
    <strong>Romanji:</strong>
    <%= term.name_romanji %>
  </p>

  <p>
    <strong>English translations:</strong>
    <% term.names_en.each do |name_en| %>
      <li><%= name_en %></li>
    <% end %>  
  </p>

  <p>
    <strong>Definition:</strong>
    <%= term.definition %>
  </p>

  <p>
    <strong>Usages:</strong>
    <% term.usages.each do |usage| %>
      <li><%= usage %></li>
    <% end %>  
  </p>

    <p>
    <strong>Precursors:</strong>
    <% term.precursors.each do |precursor| %>
      <li><%= precursor %></li>
    <% end %>  
  </p>

</div>
