<p style="color: green"><%= notice %></p>

<div id="tetsulogo" class="container align-top">
  <%= link_to root_path do %>
    <h1 id="tetsugaku">哲学</h1>
  <% end %>

  <p>A terminology system for the work of 西田 幾多郎<p>
</div>

<div id="container terms">
  <% @terms.each do |term| %>
    <%= render(NameJpComponent.new(name_jp: term.name_jp)) %>

    <%= render(RomanjiComponent.new(romanji: term.name_romanji)) %>
  
    <%= render(TranslationsComponent.new(translations: term.names_en)) %>

    <%= render(DefinitionComponent.new(definition: term.definition)) %>

    <%= render(UsagesComponent.new(usages: term.usages)) %>

    <%= render(PrecursorsComponent.new(precursors: term.precursors)) %>

    <p>
      <%= link_to "Show this term", term %>
    </p>
  <% end %>
</div>

<%= link_to "New term", new_term_path %>