<div id="tetsulogo">

  <span id="description">A terminology system for the work of Nishida Kitarō.</span>
  <span id="description_jp">西田幾多郎の作品のための用語体系。</span>

  <%= link_to root_path do %>
    <h1 id="tetsugaku">「哲学」</h1>
  <% end %>

</div>

<div id="terms" class="container terms mb-2">

  <ul id="term-list">
    <% @terms.each do |term| %>
      <li>

        <h2 class="name_jp">
        <%= render(NameJpComponent.new(name_jp: term.name_jp)) %></h2>
      

        <%= render(RomanjiComponent.new(romanji: term.name_romanji)) %>:  

        <%= term.names_en.first %>


        <span class="show_link"><%= link_to "Show this term", term %></span>
      </li>
    <% end %>
      
  </ul>
</div>

<%= link_to "New term", new_term_path %>