<p style="color: green"><%= notice %></p>

<div id="tetsulogo">
  <%= link_to root_path do %>
    <h1 id="tetsugaku">哲学</h1>
  <% end %>

  <p>A terminology system for the work of 西田 幾多郎<p>
</div>

<div id="terms">
  <% @terms.each do |term| %>
    <%= render term %>
    <p>
      <%= link_to "Show this term", term %>
    </p>
  <% end %>
</div>

<%= link_to "New term", new_term_path %>
